{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}


{% block object-tools-items %}
    {% if user.is_superuser %}
        <li class="mr-2">
            <button class="ui-btn ui-btn-sm ui-btn-primary w-full h-full" id="make-resolved-link">Mark as Resolved</button>
        </li>
        <script>
            document.getElementById('make-resolved-link').addEventListener('click', function() {
                // có cho phép nhập note khi mark as resolved (không bắt buộc)
                const note = prompt('Please enter a note (optional) to mark this feedback as resolved:');
                if (note) {
                    fetch('?resolved=1&note=' + note)
                        .then(response => {
                            if (response.ok) {
                                alert('Feedback marked as resolved successfully');
                            } else {
                                alert('Failed to mark feedback as resolved');
                            }
                        });
                } else {
                    fetch('?resolved=1')
                        .then(response => {
                            if (response.ok) {
                                alert('Feedback marked as resolved successfully');
                            } else {
                                alert('Failed to mark feedback as resolved');
                            }
                        });
                }
            });
        </script>
    {% endif %}
    {{ block.super }}
{% endblock %}

