Chào {username},
<br />
Bạn đã được cấp quyền truy cập vào <b>{system_name}</b>. Dưới đây là thông tin
đăng nhập của bạn:
<br />
<b> Tên đăng nhập: {username} </b>
<br />
<b> Mật khẩu tạm thời: {password} </b>
<br />
<b> Lưu ý: </b> Bạn sẽ được yêu cầu thay đổi mật khẩu sau lần đăng nhập đầu tiên
để đảm bảo an toàn cho thông tin cá nhân và tài khoản của bạn.
<br />
<br />
Để đăng nhập, vui lòng truy cập <a href="{url}">đường dẫn trang đăng nhập</a> và
nhập thông tin trên.
<br />
Nếu bạn gặp bất kỳ vấn đề nào trong quá trình đăng nhập, đừng ngần ngại liên hệ
với bộ phận hỗ trợ kỹ thuật của chúng tôi.
<br />
Trân trọng,
<br />
<div dir="ltr">
  <table
    cellpadding="0"
    cellspacing="0"
    style="
      white-space: nowrap;
      color: rgb(0, 0, 0);
      border-collapse: collapse;
      table-layout: fixed;
      font-family: Arial;
    "
  >
    <tbody>
      <tr>
        <td style="vertical-align: top; padding: 4px 16px 0px 0px">
          <table
            cellpadding="0"
            cellspacing="0"
            width="120px"
            style="
              border-collapse: collapse;
              table-layout: fixed;
              margin: 0px auto;
            "
          >
            <tbody>
              <tr>
                <td style="vertical-align: top">
                  <img
                    src="https://api.logo.com/api/v2/images?logo=logo_0a119d06-c73b-4296-b551-8c17eec5b19c&amp;name=NEURON&amp;u=2024-04-19T10%3A12%3A02.379Z&amp;width=500&amp;height=500&amp;format=webp&amp;fit=contain&amp;margin_ratio=0.3&amp;quality=30"
                    alt="logo image"
                    style="
                      display: block;
                      max-width: 100%;
                      height: auto;
                      margin-bottom: 6px;
                      border-radius: 50%;
                    "
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </td>
        <td
          style="
            vertical-align: top;
            border-left-width: 1px;
            border-left-style: solid;
            border-left-color: rgb(0, 0, 0);
            padding: 0px 0px 0px 16px;
          "
        >
          <table
            cellpadding="0"
            cellspacing="0"
            style="border-collapse: collapse; table-layout: fixed"
          >
            <tbody>
              <tr>
                <td style="vertical-align: top; line-height: 24px">
                  <span
                    style="
                      font-size: 18px;
                      margin: 0px;
                      padding: 0px 20px 0px 0px;
                      color: rgb(17, 17, 17);
                      font-weight: bold;
                    "
                    >Tu Anh Nguyen</span
                  >
                </td>
              </tr>
              <tr>
                <td style="vertical-align: top; line-height: 24px">
                  <span
                    style="
                      font-size: 14px;
                      margin: 0px;
                      padding: 0px 8px 0px 0px;
                    "
                    >White Neuron Company Limited</span
                  ><span
                    style="
                      font-size: 14px;
                      margin: 0px;
                      padding: 0px 20px 0px 8px;
                      border-left-width: 1px;
                      border-left-style: solid;
                      border-left-color: rgb(0, 0, 0);
                    "
                    >CEO</span
                  >
                </td>
              </tr>
              <tr>
                <td style="vertical-align: top; line-height: 16px">
                  <a
                    href="tel:+84339802255"
                    rel="nofollow noreferrer"
                    style="text-decoration: none"
                    target="_blank"
                    ><span
                      style="
                        font-size: 12px;
                        margin: 0px;
                        padding: 0px 20px 0px 0px;
                        color: rgb(0, 0, 0);
                      "
                      >+84339802255</span
                    ></a
                  >
                </td>
              </tr>
              <tr>
                <td style="vertical-align: top; line-height: 16px">
                  <a
                    href="mailto:anhnt@whiteneurons.com"
                    rel="nofollow noreferrer"
                    style="text-decoration: none"
                    target="_blank"
                    ><span
                      style="
                        font-size: 12px;
                        margin: 0px;
                        padding: 0px 20px 0px 0px;
                        color: rgb(0, 0, 0);
                      "
                      >anhnt@whiteneurons.com</span
                    ></a
                  >
                </td>
              </tr>
              <tr>
                <td style="vertical-align: top; line-height: 16px">
                  <a
                    href="https://whiteneurons.com/"
                    rel="nofollow noreferrer"
                    style="text-decoration: none"
                    target="_blank"
                    ><span
                      style="
                        font-size: 12px;
                        margin: 0px;
                        padding: 0px 20px 0px 0px;
                        color: rgb(0, 0, 0);
                      "
                      >whiteneurons.com</span
                    ></a
                  >
                </td>
              </tr>
              <tr>
                <td style="vertical-align: top; line-height: 16px">
                  <a
                    href="https://www.google.com/maps/search/?api=1&amp;query=333%2C%2020%20cluster%2C%20Kien%20Hung%20Ward%2C%20Ha%20Dong%20district%2C%20Ha%20Noi%2010000%20Vietnam"
                    rel="nofollow noreferrer"
                    style="text-decoration: none"
                    target="_blank"
                    ><span
                      style="
                        font-size: 12px;
                        margin: 0px;
                        padding: 0px 20px 0px 0px;
                        color: rgb(0, 0, 0);
                      "
                      >333, 20 cluster, Kien Hung Ward, Ha Dong district, Ha Noi
                      10000 Vietnam</span
                    ></a
                  >
                </td>
              </tr>
              <tr>
                <td style="vertical-align: top; line-height: 24px">
                  <table
                    cellpadding="0"
                    cellspacing="0"
                    style="
                      border-collapse: collapse;
                      table-layout: fixed;
                      margin: 8px 0px 0px;
                    "
                  >
                    <tbody>
                      <tr>
                        <td
                          style="vertical-align: top; padding: 0px 6px 0px 0px"
                        >
                          <a
                            href="https://www.youtube.com/@neuron97"
                            rel="noreferrer"
                            target="_blank"
                            ><img
                              src="https://api.logo.com/api/v2/icons/circle/FFFFFF/111111/youtube.png?u=asdfg"
                              alt="youtube icon"
                              style="display: block; width: 23px; height: 23px"
                          /></a>
                        </td>
                        <td
                          style="vertical-align: top; padding: 0px 6px 0px 0px"
                        >
                          <a
                            href="https://www.facebook.com/tuanh.226"
                            rel="noreferrer"
                            target="_blank"
                            ><img
                              src="https://api.logo.com/api/v2/icons/circle/FFFFFF/111111/facebook.png?u=asdfg"
                              alt="facebook icon"
                              style="display: block; width: 23px; height: 23px"
                          /></a>
                        </td>
                        <td style="vertical-align: top">
                          <a
                            href="https://www.tiktok.com/@anhneuron"
                            rel="noreferrer"
                            target="_blank"
                            ><img
                              src="https://api.logo.com/api/v2/icons/circle/FFFFFF/111111/tiktok.png?u=asdfg"
                              alt="tiktok icon"
                              style="display: block; width: 23px; height: 23px"
                          /></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
