{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list unfold_list unfold_list_custom %}

{% block extrahead %}
    {{ block.super }}
    <style type="text/css">
        .grid_view #action_buttoms {
            position: absolute;
            right: 2px;
            bottom: 5px;
        }
    </style>
    <link rel="stylesheet" href='{% static "base/css/btn-styles.css" %}'>
{% endblock %}

{% block result_list %}
    {% include "unfold/helpers/change_list_actions.html" %}

    {% if grid_view == True %}
        {% result_list_grid cl %}
    {% else %}
        {% unfold_result_list cl %}
    {% endif %}

    {% block pagination %}
        {% pagination cl %}
    {% endblock %}
{% endblock %}

{% block filters %}
    <div class="flex items-center gap-2">
        {# Nút chuyển đổi view #}
        <form method="post" action="">
           {% csrf_token %}
           {% if grid_view == True %}
                <input type="hidden" name="grid_view" value="0">
                <button type="submit" 
                style="font-size: 1.5rem"
                class="h-12 w-12 material-symbols-outlined text-base-500 bg-white border border-base-200 dark:bg-base-900 dark:border-base-700 cursor-pointer flex font-medium group items-center px-3 py-2 rounded shadow-sm">table_view</button>
            {% else %}
                <input type="hidden" name="grid_view" value="1">
                <button type="submit" 
                style="font-size: 1.5rem"
                class="h-12 w-12 material-symbols-outlined text-base-500 bg-white border border-base-200 dark:bg-base-900 dark:border-base-700 cursor-pointer flex font-medium group items-center px-3 py-2 rounded shadow-sm">grid_view</button>
            {% endif %}
        </form>

        {# Dropdown chọn số lượng hiển thị #}
        <form method="post" action="" class="">
            {% csrf_token %}
            <select name="per_page" id="per_page" class="ui-select ui-select-info w-full max-w-xs dark:bg-base-900 dark:border-base-700
            " onchange="this.form.submit()">
                <option disabled >{{ _('Items per page') }}</option>
                {% for size in page_sizes %}
                    <option value="{{ size }}" {% if cl.list_per_page == size %}selected{% endif %}>{{ size }}</option>
                {% endfor %}
            </select>
        </form>        
    </div>

    {{ block.super }}
{% endblock %}
