{% extends 'admin/login.html' %}

{% load i18n static %}

{% block extrastyle %}
    {{ block.super }}
    {{ form.media }}
{% endblock %}

{% block login_after %}
<div class="text-center mt-4">
    <button type="button" id="guest-login" class="bg-secondary-600 border border-transparent flex flex-row font-semibold group items-center justify-center py-2 rounded text-sm 
    text-gray-900 dark:text-white
    w-full">
        {% trans "Log in as guest" %}
        <i class="material-symbols-outlined ml-2 text-lg transition-all group-hover:-translate-x-1">person</i>
    </button>
</div>

<script>
    document.getElementById("guest-login").addEventListener("click", function() {
        // Điền thông tin đăng nhập cho guest (đảm bảo id của input là id_username và id_password)
        document.getElementById("id_username").value = "guest";
        document.getElementById("id_password").value = "whiteneuron-guest-2024@";
        // Submit form đăng nhập (đảm bảo form có id="login-form")
        document.getElementById("login-form").submit();
    });
</script>
{% endblock %}