{% extends "admin/submit_line.html" %}
{% load i18n admin_urls %}

{% block submit-row %}
    {{ block.super }}
    {% if original and show_feedback %}
        <button type="button" class="ui-btn ui-btn-sm ui-btn-primary h-full" 
                id="feedback-link"
                data-model-name="{{ opts.model_name }}"
                data-app-label="{{ opts.app_label }}">
            Feedback
        </button>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const feedbackButton = document.getElementById('feedback-link');
                if (feedbackButton) {
                    feedbackButton.addEventListener('click', function() {
                        const feedbackMessage = prompt('Please enter your feedback message for {{ subtitle }}');

                        if (feedbackMessage) {
                            const modelName = feedbackButton.getAttribute("data-model-name");
                            const appLabel = feedbackButton.getAttribute("data-app-label");

                            fetch("{% url 'feedback_endpoint' %}", {
                                method: "POST",
                                headers: {
                                    "Content-Type": "application/json",
                                    "X-CSRFToken": getCookie('csrftoken')
                                },
                                body: JSON.stringify({
                                    object_id: "{{ object_id }}",
                                    feedback_message: feedbackMessage,
                                    model_name: modelName,
                                    app_label: appLabel
                                })
                            })
                            .then(response => response.json())
                            .then(data => {
                                if (data.success) {
                                    alert('Feedback saved successfully');
                                } else {
                                    alert('Failed to save feedback');
                                }
                            })
                            .catch(error => console.error("Error:", error));
                        }
                    });
                }
            });

            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
        </script>
    {% endif %}
{% endblock %}
